<h1>Form</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="">Name</label>
    <input type="text" required [(ngModel)]="register.name" name="name" />
    <p>Error messages.</p>
  </div>
  <div class="input-group">
    <label for="">Email</label>
    <input type="email" required [(ngModel)]="register.email" name="email" />
    <p>Error messages.</p>
  </div>
  <div class="input-group">
    <label for="">Password</label>
    <input
      type="password"
      required
      [(ngModel)]="register.password"
      name="password"
    />
    <p>Error messages.</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
  <button type="button">Action</button>
</form>

<hr />
<h1>NgClass & NgStyle</h1>
<input type="text" required #classInput2="ngModel" [(ngModel)]="person.name" />
<hr class="line-error" [class.invalid]="classInput.invalid" />
<p
  class="message--error"
  [ngClass]="{
    valid: classInput2.valid,
    invalid: classInput2.invalid
  }"
>
  The field is required
</p>

<div class="styles">
  <div>
    <input type="number" required [(ngModel)]="box.width" />
    <input type="number" required [(ngModel)]="box.height" />
    <input type="color" required [(ngModel)]="box.background" />
  </div>
  <div
    [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      display: 'block'
    }"
  ></div>
</div>

<hr />

<h1>Class and Styles</h1>
<input type="text" required #classInput="ngModel" [(ngModel)]="person.name" />
<p class="message--error" [class.invalid]="classInput.invalid">
  The field is required
</p>
<!-- <label [style.font-style]="inputName3.invalid ? 'italic' : 'normal'"
  >Nombre</label
> -->
<input type="text" required #inputName3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="inputName3.invalid ? 'italic' : 'normal'">
  Lorem, ipsum dolor.
</p>

<hr />

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="width" />
  </div>
  <div>
    <img [style.width.px]="width" [src]="person.img" alt="" />
  </div>
</div>

<hr />

<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Efrén'">The person is Efrén</p>
  <p *ngSwitchCase="'Brandon'">The person is Brandon</p>
  <p *ngSwitchCase="'Joel'">The person is Joel</p>
  <p *ngSwitchDefault>It doesn't match</p>
</div>

<hr />
<h1>*ngFor Obj</h1>
<div class="products__grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="!names.length">There are no names remaining</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }}: {{ name }}
    <button (click)="deleteName(i)">Delete name</button>
  </li>
</ul>
<hr />

<h1>*ngIf</h1>
<p *ngIf="1 == 1">My Content</p>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Efrén' && person.age === 18; else elseBlock">
  I'm Efrén
</p>
<p *ngIf="person.name === 'Test'">I'm Test</p>
<ng-template #elseBlock>
  <p>Else block</p>
</ng-template>

<hr />
<h1>NgModel</h1>

<p>Name: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age: {{ person.age }}</p>
<input
  type="number"
  max="18"
  min="10"
  #ageInput="ngModel"
  required
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Events</h1>
<button [disabled]="btnDisabled">Send</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad: {{ person.age }}</p>
<button (click)="incrementAge()">Increment age</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum tempore
    dicta vitae magnam! Aut quia nisi temporibus a fugiat! Eius voluptates sequi
    consequatur molestias velit vero ratione reprehenderit facere sapiente!
    Quidem magnam sunt aut ducimus distinctio possimus earum! Assumenda illo
    alias accusamus ex cumque ipsa totam quis dolores provident ad error sint
    quod doloremque, ea voluptatibus, officia accusantium odit est.
  </p>
</div>
<p>Name: {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr />

<h1>Properties</h1>
<button [disabled]="btnDisabled">Send</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.img" alt="" />
<hr />

<h1>Hello, World</h1>
<h2>{{ "Hello, World".repeat(5) }}</h2>
<p>3 + 3= {{ 3 + 3 }}</p>
<h3>Hello, my name is: {{ person.name }} and I'm {{ person.age }} years old</h3>
<img width="100%" src="{{ person.img }}" alt="imagen" />
